<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.footprint.mapper.FootprintMapper">
    <!--根据条件：商品名/用户名，查找足迹-->
    <resultMap id="footprintItemResultMap" type="com.xmu.footprint.domain.FootprintItem">
        <id property="id" column="id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="birthTime" column="birth_time"/>
        <result property="userId" column="user_id"/>
        <result property="goodsId" column="goods_id"/>
    </resultMap>
    <select id="listFootprintByCondition" resultMap="footprintItemResultMap">
        select oomall_footprint_item.id,
        oomall_footprint_item.gmt_create,
        oomall_footprint_item.birth_time,
        oomall_footprint_item.user_id,
        oomall_footprint_item.goods_id
        from oomall_footprint_item,oomall_goods,oomall_user
        where
        <if test="goodsName!=null and goodsName!=''">
            (oomall_footprint_item.goods_id=(select oomall_goods.id from oomall_goods where oomall_goods.name=#{goodsName})) and
        </if>
        <if test="userName!=null and userName!=''">
            (oomall_footprint_item.user_id=(select oomall_user.id from oomall_user where oomall_user.name=#{userName})) and
        </if>
        true
        order by oomall_footprint_item.birth_time desc
    </select>

    <!--查找用户足迹-->
    <select id="listFootprintByUserId" parameterType="integer" resultMap="footprintItemResultMap">
        select id,
        gmt_create,
        birth_time,
        user_id,
        goods_id
        from oomall_footprint_item
        where user_id=#{userId}
        order by birth_time desc
    </select>

    <!--根据id查找足迹-->
    <resultMap id="footprintItemPoResultMap" type="com.xmu.footprint.domain.FootprintItemPo">
        <id property="id" column="id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="birthTime" column="birth_time"/>
        <result property="userId" column="user_id"/>
        <result property="goodsId" column="goods_id"/>
    </resultMap>
    <select id="getFootprintItemPoById" parameterType="integer" resultMap="footprintItemPoResultMap">
        select id,
        gmt_create,
        birth_time,
        user_id,
        goods_id
        from oomall_footprint_item
        where id=#{id}
    </select>

    <!--用户删除足迹-->
    <delete id="deleteFootprintById" parameterType="integer">
        delete from oomall_footprint_item where id=#{id}
    </delete>

    <!--根据用户id和商品id查找足迹-->
    <select id="findFootprintItem" parameterType="integer" resultMap="footprintItemPoResultMap">
        select id,
        gmt_create,
        birth_time,
        user_id,
        goods_id
        from oomall_footprint_item
        where user_id=#{userId} and goods_id=#{goodsId}
    </select>

    <!--添加足迹-->
    <insert id="addFootprint" parameterType="com.xmu.footprint.domain.FootprintItemPo" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_footprint_item(gmt_create,birth_time,user_id,goods_id)
        values (current_timestamp ,current_timestamp,#{userId},#{goodsId})
    </insert>

    <!--更改足迹上次浏览时间-->
    <update id="updateFootprint" parameterType="com.xmu.footprint.domain.FootprintItemPo">
        update oomall_footprint_item
        set birth_time=current_timestamp
        where user_id=#{userId} and goods_id=#{goodsId}
    </update>
</mapper>